#feedback {
    min-height: 100vh;

}

.item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 7rem;
    width: 800px;
    height: 450px;
    background: $Color-Primary;
    color: #fff;
    padding: 0 1rem 0 3rem;

    p {
        color: #fff;
    }

    #svg-item {
        fill: $Color-Secondary;

    }

}

.profile {
    display: flex;


    img {
        object-fit: cover;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        margin-right: 2rem;

    }

    span {
        font-size: 1.5rem;
        color: rgb(204, 197, 197);
    }
}

.card-post-slides {
    .owl-nav {
        margin: 2rem 3rem 0 0;
        width: auto;
        height: auto;
        z-index: 10;
        display: flex;
        display: -webkit-box;
        justify-content: end;

        .owl-prev {
            clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
            background-color: $Color-Secondary;
            margin-right: 1rem;
            transition-duration: 500ms;
            flex: 0 0 50px;
            max-width: 50px;
            width: 60px;
            height: 60px;
            line-height: 48px;
            text-align: center;
            font-size: 30px;

            &:hover {
                background-color: $Color-Primary;
            }

            &:focus {
                background-color: $Color-Primary;
            }
        }

        .owl-next {
            @extend .owl-prev;
            clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
        }
    }
}

@media screen and (max-width: 767.98px) {
    .item-card {
        text-align: center;
        padding: 0 1rem;
    }

    .profile {
        align-self: center;

        img {
            width: 60px;
            height: 60px;
            margin-right: 0;
        }
    }

    .card-post-slides .owl-nav {
        justify-content: center;
        margin: 2rem 0;
    }
}